/* Styling game board */
body {
    background-color: #8f8e8c;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px); /* 3 columns of 100px each*/
    grid-template-rows: repeat(3, 100px); /* 3 rows of 100px each*/
    gap: 5px; /* space between cells*/
    margin: 20px auto;
    max-width: 320px;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    font-size: 24px;
    background-color: #f9f9f9;
    cursor: pointer;
    height: 100px;
    width: 100px;
}



.cell:hover {
    background-color: #e0e0e0;
}